{% extends 'emp_base.html' %}

{% block main %}

<script>
    function checkpassword()
    {
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
        {
            alert("Passwords don't match");
            document.changepassword.confirmpassword.focus();
            return false;
        }

        if(document.changepassword.newpassword.value==document.changepassword.password.value)
        {
            alert("New password is same as the old one. Please try a different one");
            document.changepassword.newpassword.focus();
            return false;
        }
        return true;
    }

</script>


<div class= "card shadow m-2">
    <div class="card-body">
        <h5  class = "p-2 text-danger"style="border-bottom: 2px solid #EB796F ">Change Password</h5>
    </div>

</div>
<div class= "card shadow m-4">
        <div class="container-fluid pt-3">
            <form method="POST" name="changepassword" onsubmit = "return checkpassword()">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="Password" name="password" class='form-control' placeholder="Enter current password" required>
                        </div>   
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="Password"  name="newpassword"class='form-control' placeholder="Enter New password" required>
                        </div>   
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="Password" name="confirmpassword" class='form-control' placeholder="Confirm new password" required>
                        </div>   
                    </div>
                </div>
                
                <input type="submit" value="Submit" class="button">

            </form>
        </div>
</div>

{%if error == "no" %}
<script>
    alert('Password updated successfully');
    window.location= ('{% url 'login'%}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong. Try again!');
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Invalid current password. Please try again');
    document.changepassword.password.focus();

</script>
{% endif %}


{% endblock main %}