{% extends 'emp_base.html' %}

{% block main %}


<div class= "card  m-2">
    <div class="card-body">
        <div class="section-title">
            <h2>Work Experience</h2>
          </div>
          <div class="container-fluid">
        <a href="{%url 'edit_experience'%}" class="button float-right btn-sm">Edit work experiences</a>
        
                <br>
                
           <table class="table table-bordered">
            <br>
            
            <tr>
                <th>First company name</th>
                <td>{{experience.company1name}}</td>
            </tr>
            <tr>
                <th>First company designation</th>
                <td>{{experience.company1designation}}</td>
            </tr>
            <tr>
                <th>First company salary</th>
                <td>{{experience.company1salary}}</td>
            </tr>
            <tr>
                <th>First company duration</th>
                <td>{{experience.company1duration}}</td>
            </tr>
            <tr>
                <th>Second company name</th>
                <td>{{experience.company2name}}</td>
            </tr>
            <tr>
                <th>Second company designation</th>
                <td>{{experience.company2designation}}</td>
            </tr>
            <tr>
                <th>Second company salary</th>
                <td>{{experience.company2salary}}</td>
            </tr>
            <tr>
                <th>Second company duration</th>
                <td>{{experience.company2duration}}</td>
            </tr>

            <tr>
                <th>Third company name</th>
                <td>{{experience.company3name}}</td>
            </tr>
            <tr>
                <th>Third company designation</th>
                <td>{{experience.company3designation}}</td>
            </tr>
            <tr>
                <th>Third company salary</th>
                <td>{{experience.company3salary}}</td>
            </tr>
            <tr>
                <th>Third company duration</th>
                <td>{{experience.company3duration}}</td>
            </tr>

            
           </table>

        </div>
    </div>
</div>

{% endblock main%}