{% extends 'emp_base.html' %}

{% block main %}



    <div class="section-title">
        <h2>Edit Profile</h2>
      </div>


<div class= "card m-4">
        <div class="container-fluid pt-3">
            <form method="POST" onsubmit="return checkpassword()">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name='firstname' class='form-control' placeholder="Enter your first name" pattern="[A-Za-z]+" value="{{employee.user.first_name}}">
                        </div>   
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name='lastname' class='form-control' placeholder="Enter your last name" pattern="[A-Za-z]+" value="{{employee.user.last_name}}">
                        </div>   
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Designation</label>
                            <input type="text" name='designation' class='form-control' placeholder="Designation" value="{{employee.designation}}">
                        </div>   
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Department</label>
                            <input type="text" name='department' class='form-control' placeholder="Department"  value="{{employee.empdept}}">
                        </div>   
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Employee Card Code</label>
                            <input type="text" name='empcode' class='form-control' placeholder="Enter your employee card code" value="{{employee.empcode}}">
                        </div>   
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name='emailid' class='form-control' placeholder="Enter your email" value="{{employee.user.username}}">
                        </div>   
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Contact No.</label>
                            <input type="text" name='contact' class='form-control' placeholder="Contact No." value="{{employee.contact}}">
                        </div>   
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Joining Date [{{employee.joiningdate}}]</label>
                            <input type="date" name='jdate' class='form-control'>
                        </div>   
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Gender [{{employee.gender}}]</label>
                            <select name="gender" class="form-control">
                                
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="None">Rather not say</option>
                            </select>
                        </div>   
                    </div>

                </div>
                
                <input type="submit" value="Submit" class="button">

            </form>
        </div>
</div>

{%if error == "no" %}
<script>
    alert('Profile updated successfully');
    window.location= ('{% url 'profile'%}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong. Try again!');
</script>
{% endif %}


{% endblock main %}