{% extends "base.html" %}
{% load static %}

{% block content %}



<script>
  function checkpassword(){
      if(document.signup.password.value!=document.signup.confirm_password.value){
          alert('Passwords do not match');
          document.signup.confirm_password.focus();
          return false;
      }
      return true;  
  }
</script>


<section class="registration">
  <div class="container">



    
<script>
  function checkpassword(){
      if(document.signup.password.value!=document.signup.confirm_password.value){
          alert('Passwords do not match');
          document.signup.confirm_password.focus();
          return false;
      }
      return true;  
  }
</script>

<div class="section-title">
  <h2>Registration</h2>
  <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
</div>


<div class= "card shadow m-4">
      <div class="container-fluid pt-3">
          <form method="POST" name="signup" onsubmit="return checkpassword()">
              {% csrf_token %}

              <div class="form-row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>First Name</label>
                          <input type="text" name='firstname' class='form-control' placeholder="Enter your first name" pattern="[A-Za-z]+" required>
                      </div>   
                  </div>
                  <br>

                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Last Name</label>
                          <input type="text" name='lastname' class='form-control' placeholder="Enter your last name" pattern="[A-Za-z]+" required>
                      </div>   
                  </div>
                  <br>

                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Employee Card Code</label>
                          <input type="text" name='empcode' class='form-control' placeholder="Enter your employee card code" pattern="[0-9A-Za-z]+" required>
                      </div>   
                  </div>

                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Email</label>
                          <input type="email" name='email' class='form-control' placeholder="Enter your email" required>
                      </div>   
                  </div>

                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Password</label>
                          <input type="password" name='password' class='form-control'placeholder="Enter your password" required>
                      </div>   
                  </div>

                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Confirm your Password</label>
                          <input type="password" name='confirm_password' class='form-control'placeholder="Re-enter your password" required>
                      </div>   
                  </div>

              </div>
              <br>
              
              <input type="submit" value="Submit" class="form-control">
              

          </form>
      </div>
</div>



{%if error == "no" %}
<script>
  alert('Signup successful');
  window.location= ('{% url 'login' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
  alert('Something went wrong. Try again!');
</script>
{% endif %}





  </div>
</section>



{% endblock content %}

