.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: yellow !important;
    border-radius: 15px;
}

.navbar-brand{
    font-weight: bold;
}


.navbar{
    background: linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%);
}

.navbar-nav{
    justify-content: space-between !important;
 }
.button {
    border: 1px solid #757575;
    background-color: #FFF;
    color: #EB796F;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

input[type=text],
input[type=password],
textarea {
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}
/* .card-body{
    background: linear-gradient(90deg, #e4dcda 0%, #ebc3bf 43%, #f1b8b3 100%);

} */
.list-group-item{
    padding: 8px !important;
    background-color: #EEA390 !important;
}
.container-fluid{
    background-color: #EEA390 !important;
    
}
footer{
    background: linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%);
}


.container{
    display: flex !important;
    justify-content: space-between !important;
}